        <%- include('./partials/header') %>
        <form 
        method="POST"
        action="/teams/<%=id%>/newplayer">
        <div class="field">
            <label for="name" class="label">New Player Name:</label>
            <div class="control">
                <input class="form-input" type="text" required="required" name="name" id="name" value="">
            </div>
        </div>
        <input type="hidden" name="id" id="id" value="<%=id%>">
        <input type="submit" value="Submit"/>
</body>
</html>