
        <%- include('./partials/header') %>
        <form 
        method="POST"
        action="/teams">
    
        <div class="field">
                <label for="name" class="label">New Team Name:</label>
               <div class="control">
                 <input class="form-input" type="text" required="required" name="name" id="name" value="">
               </div>
               <p class="help">Please make sure team name is not already in use</p>
             </div>
        <input class="button" type="submit" value="Submit"/>
    
</body>
</html>