<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
        <%- include('./partials/header') %>
    <form
        method="POST"
        action="/teams?_method=PUT">
        <div class="row">
        <label for="name">Team Name:</label>
        <input type="text" required="required" name="name" id="name" value="<%=team.tname%>"><br/>
        </div>
        <div class="row">
        <label for="wins">Wins:</label>
        <input type="number" required="required" name="wins" id="wins" value="0"><br/>
        </div>
        <div class="row">
        <label for="losses">Losses:</label>
        <input type="number" name="losses" id="losses" value="0"><br/>
        <input type="hidden" name="id" id="id" value="<%=team.id%>"><br/>
        </div>
        <input class="button" type="submit" value="Submit"/>
    </form>
        
        <form method="POST"action="/teams/<%=team.id%>/delete?_method=DELETE">
            <input class="button is-danger" type="submit" value="Delete Team" />
        </form>

    
</body>
</html>