
        <%- include('./partials/header') %>
    <form
        method="POST"
        action="/teams?_method=PUT">
        <div class="field">
                 <label for="name" class="label">Name</label>
                <div class="control">
                  <input class="form-input" type="text" required="required" name="name" id="name" value="<%=team.tname%>">
                </div>
                <p class="help">Update team name</p>
              </div>
              
        <div class="field input-under">
                <label for="wins" class="label">Wins</label>
                <div class="control">
                  <input class="form-input" type="number" required="required" name="wins" id="wins" value="0">
                </div>
                <p class="help">Add or remove wins to current total</p>
              </div>
              
        <div class="field input-under">
                    <label for="losses" class="label">Losses</label>
                    <div class="control">
                      <input class="form-input" type="number" name="losses" id="losses" required="required" value="0">
                    </div>
                    <p class="help">Add or remove losses to current total</p>
                  </div>
                  <input type="hidden" name="id" id="id" value="<%=team.id%>"><br/>
        <input class="button" type="submit" value="Submit"/>
    </form>
        
        <form method="POST"action="/teams/<%=team.id%>/delete?_method=DELETE">
            <input class="button is-danger" type="submit" value="Delete Team" />
        </form>

    
</body>
</html>