.header {
    text-align: center;
    color: black;
    background: lightblue;
    font-size: 25px;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 35px;
}

h2 {
    margin-top: -8px;
    margin-bottom: 10px;
}

body {
    text-align: center;
}

p {
    font-size: 23px;
}

form {
    margin: auto;
    font-size: 25px;
}

.teamHeader {
    font-size: 30px;
    margin-top: 10px;
}

label {
    font-size: 25px;
    text-align: right;
}

input {
    margin-left: 5px;
    font-size: 20px;
}

.button {
    margin-bottom: 8px;
}

.table {
    margin: auto;
    font-size: 25px;
}

.row {
    display: table-row;
}

.field {
    width: 250px;
    margin: auto;
}

.label {
    text-align: left;
}

.form-input {
    width: 250px;
}
